*
{
margin:0;
padding:0;
font-family:arial,helvetica;
height:100%;

}
body
{
background:url(../6.jpg) top right no-repeat;
background-attachment:fixed;
background-size:100%;
overflow:hidden;
}
main
{

font-size: 30px;
font-color:skyblue;
}
ul
{
float:right;
list-style-type:none;
margin-top:30px;
}

ul li
{
display:inline-block;
}

ul li a
{
text-decoration:none;
color:lightblue;
padding:15px 20px;
border:1px solid transparent;
transition:0.6s ease;
} 
ul li a:hover{
bbackground-color:#fff;
color:#000;
}
/*.title{
top:50%;
left:50%;
}
.title h1{
color:black;
font-size:70;
}*/
